<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    <link rel="stylesheet" href="{{ '/Main/assets/css/custom.css' | relative_url }}">
    <script src="{{ '/Main/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="page" class="site style-overflow palette-blue">
   <header id="masthead" class="site-header dark">
      <div class="site-header-wrap">
         <div class="site-header-inside">
            <div class="site-branding">
               <p class="profile">
                  <a aria-current="page" href="{{ site.url }}">
                    <img src="{{ '/Main/assets/images/avatar_2.png' | relative_url }}" class="avatar" alt="Author Avatar">
                  </a>
               </p>
               <div class="site-identity">
                  <h1 class="site-title"><a aria-current="page" class="" href="/">OptimChain</a></h1>
                  <p class="site-description">Your Partners in Cloud</p>
               </div>
               <button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
            </div>
            <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
               <div class="site-nav-wrap">
                  <div class="site-nav-inside">
                     <ul class="menu">
                        <li class="menu-item "><a href="{{ site.url }}/Main">Main Page</a></li>
                        <li class="menu-item "><a href="{{ site.url }}/Main/team.html">Team</a></li>
                        <li class="menu-item "><a href="{{ site.url }}/Main/blog.html">Blog</a></li>
                        <li class="menu-item "><a href="{{ site.url }}/Main/contact.html">Contact</a></li>
                        <li class="menu-item "><a href="https://github.com/OptimChain?tab=repositories">View On GitHub</a></li>
                     </ul>

                      <div class="social-links">
                          <a href="https://twitter.com/OptimChain" target="_blank" rel="noopener"><span class="fab fa-twitter" aria-hidden="true"></span><span class="screen-reader-text">Twitter</span></a>
                          <a href="https://github.com/OptimChain" target="_blank" rel="noopener"><span class="fab fa-github" aria-hidden="true"></span><span class="screen-reader-text">GitHub</span></a>
                          <a href="https://www.linkedin.com/in/OptimChain" target="_blank" rel="noopener"><span class="fab fa-linkedin" aria-hidden="true"></span><span class="screen-reader-text">LinkedIn</span></a>
                      </div>
                  </div>
               </div>
            </nav>
         </div>
      </div>
   </header>
   <div id="content" class="site-content">
      <div class="inner">
         <main id="main" class="site-main">
           {{ content }}
         </main>
      </div>
   </div>
</div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script src="{{ '/Main/assets/js/jquery-3.6.0.min.js' | relative_url }}"></script>
    <script src="{{ '/Main/assets/js/custom.js' | relative_url }}"></script>
  </body>
</html>
